@import "syntax-variables";
@import "ui-variables";

// Cursor style
// =========================
.cursor-base () {
  border: none;
  background: none;
  opacity: 0.5;
}

.block-cursor(@visibility) {
  .cursor-base();
  background-color: @syntax-cursor-color;
  visibility: @visibility;
}

.underline-cursor(@visibility) {
  .cursor-base();
  border-bottom: .3em solid @syntax-cursor-color;
  visibility: @visibility;
}

.low-block-cursor(@visibility) {
  .cursor-base();
  border-bottom: .6em solid @syntax-cursor-color;
  visibility: @visibility;
}

atom-text-editor.vim-mode-plus.normal-mode,
atom-text-editor.vim-mode-plus.visual-mode,
{
  &.is-focused::shadow {
    .cursor {
      .block-cursor(visible);
    }
  }
}

atom-text-editor.vim-mode-plus-input-char-waiting,
{
  &.is-focused::shadow {
    .cursor {
      .underline-cursor(visible);
      border-bottom-width: .2em;
    }
  }
}

atom-text-editor.vim-mode-plus.operator-pending-mode.is-focused,
{
  &::shadow {
    .cursor {
      .low-block-cursor(visible);
    }
    .cursors.blink-off .cursor {
      .low-block-cursor(hidden);
    }
  }
}

atom-text-editor.vim-mode-plus.insert-mode.replace.is-focused,
{
  &::shadow {
    .cursor {
      .underline-cursor(visible);
    }
    .cursors.blink-off .cursor {
      .underline-cursor(hidden);
    }
  }
}


// Flash ranges e.g. flashing yanked range.
// =========================
atom-text-editor, atom-text-editor::shadow {
  .vim-mode-plus-flash {
    .region {
      z-index: 1;
      background-color: fadeout(@syntax-selection-flash-color, 50%);
    }
    &.added .region {
      z-index: 1;
      background-color: fadeout(darken(@syntax-color-added, 10%), 50%);
    }
    &.removed .region {
      z-index: 1;
      background-color: fadeout(@syntax-color-removed, 50%);
    }
  }
}

// Hover Counter
// =========================
.vim-mode-plus-hover {
  display: block;
  color: @text-color-highlight;
  background-color: @base-background-color;
  border-radius: @component-border-radius;
  box-shadow: 0 0 10px @syntax-text-color;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: -0.1em;
  text-align: center;
  &.first {
    background-color: @background-color-info;
  }
  &.last {
    background-color: @background-color-error;
  }
}

// Input mini editor, e.g surround char.
// =========================
.vim-mode-plus-input atom-text-editor[mini] {
  background-color: inherit;
  border: none;
  width: 100%;
  height: 0px;
  font-weight: normal;
  color: @text-color;
  line-height: 1.28;
  cursor: default;
  white-space: nowrap;
  padding-left: 10px;
  &.is-focused {
    box-shadow: none;
  }
}

// Search
// =========================
// input
.vim-mode-plus-search-container {
  display: flex;
  > div {
    padding: @component-padding/2 @component-padding;
    border: none;
  }
  .editor-container {
    width: 100%;
  }
}
atom-text-editor[mini].vim-mode-plus-search {
  border: none;
  color: @text-color;
  cursor: default;
  &.is-focused {
    box-shadow: none;
  }
  &::before {
    font-size: 1.2em;
    padding-right: 0.5em;
    content: '/';
  }
  &.backwards::before {
    content: '?';
  }
}

// highlight
.vim-mode-plus {
  &.round-box {
    box-sizing: border-box;
    border-radius: @component-border-radius;
  }
  &.solid-box {
    box-sizing: border-box;
  }
}

atom-text-editor, atom-text-editor::shadow {
  .vim-mode-plus-search-match .region {
    .vim-mode-plus.round-box;
    background-color: transparent;
    border: 1px solid @syntax-text-color;
  }
  .vim-mode-plus-search-match.first .region {
    border: 1px solid @syntax-color-renamed;
  }
  .vim-mode-plus-search-match.last .region {
    border: 1px solid @syntax-color-removed;
  }
  .vim-mode-plus-search-match.current .region {
    border-width: 2px;
    background-color: @syntax-selection-color;
  }
  .vim-mode-plus-highlight-search .region {
    .vim-mode-plus.round-box;
    border: 1px solid fadeout(@syntax-text-color, 70%);
    background-color: @syntax-selection-color;
  }
  .vim-mode-plus-persistent-selection .region {
    background-color: @syntax-selection-color;
  }
  .vim-mode-plus-target-range .region {
    background-color: @syntax-selection-color;
  }
  .vim-mode-plus-occurrence-match .region {
    .vim-mode-plus.solid-box;
    z-index: 1;
    border-bottom-width: 2px;
    border-color: @syntax-color-modified;
    border-bottom-style: dotted;
  }
}

// Maximize Pane
// =========================
.vim-mode-plus-maximize-pane() {
  atom-pane-container {
    position: relative;
    atom-pane {
      display: none;
      &.active {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
      }
    }
  }
}

.hide-tab-bar() {
  .tab-bar {
    display: none;
  }
}

atom-workspace.vim-mode-plus-pane-maximized {
  .vim-mode-plus-maximize-pane();
  &.hide-tab-bar {
    .hide-tab-bar()
  }
}

// SelectList Highlight matched text
// =========================
.vim-mode-plus-select-list .list-group {
  .character-match {
    color: @text-color-highlight;
    font-weight: bold;
  }
}
